@font-face {
    font-family: "Cera Round Pro";
    src: url("../fonts/CeraRoundPro-Regular.ttf");
}

@font-face {
    font-family: "Cera Round Pro";
    src: url("../fonts/CeraRoundPro-Medium.ttf");
}