@media (min-width: 768px) and (max-width: 1024px) {

    .box {
        left: 28.58vw;
    }

    section4 {
        height: 123vw;
    }

    .pool2 {
        top: 77.18vw;
        transform: scale(1.2);
        left: 49vw;

    }

    .shar1 {
        position: absolute;
        transform: scale(1.2);
        left: -1vw;
        top: -5vw;
    }

    .pool1 {
        transform: scale(1.2);
        left: 6vw;
        top: 19vw;
    }


    .shar2 {
        transform: scale(1.2);
        position: absolute;
        top: 52vw;
        left: -19vw;
    }

    .posuda {
        position: absolute;
        left: 28vw;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .posuda {
        position: absolute;
        left: 27.58vw;
    }

    section1 {
        height: 100vw;
    }

    .plashka1 {
        left: 56vw;
        top: 9vw;
    }

    .rule1 {
        left: 59.4vw;
        top: 10.5vw;
    }

    .plate1 {
        transform: scale(1.4);
        left: 7.21vw;
        animation: none;
    }


    .plate2 {
        transform: scale(1.4);
        top: 26.77vw;
        left: 51.53vw;
        animation: none;
    }


    .plate3 {
        transform: scale(1.4);
        top: 53vw;
        left: 7.21vw;
        animation: none;
    }

    .plashka2 {
        top: 88.5vw;
        left: 8.7vw;
    }

    .rule2 {
        top: 92vw;
        left: 11.74vw;
    }

    section2 {
        height: 83vw;
    }

    .pribor {
        animation: none;
    }

    .plashka3 {
        top: 67vw;
        left: 39.87vw;
    }

    .rule3 {
        top: 70.6vw;
        left: 43.42vw;
    }

    .lapki1,
    .lapki3 {
        display: none;
    }

    .lapki2 {
        transform: scale(1.4);
        left: 32.82vw;
    }

    .plashka,
    .rule {
        transform: scale(1.2);
    }

    section3 {
        height: 43.75vw;
    }

    .plashka4 {
        left: 9.33vw
    }

    .rule4 {
        left: 12.9vw;
    }

    section4 {
        height: 172vw;
    }

    .shar1,
    .pool1,
    .shar2,
    .pool2 {
        transform: scale(1.7);
    }

    .pool1 {
        top: 31.65vw;
        left: 27.29vw;
    }

    .shar1 {
        position: absolute;
        top: -11.35vw;
        left: 7.289vw;
    }

    .pool2 {
        top: 113.65vw;
        left: 29.29vw;
    }

    .shar2 {
        position: absolute;
        top: 68vw;
        left: -77vw;
    }

    .one,
    .two {
        transform: scale(1.1);
    }

    .box {
        left: 27.58vw;
    }

    .one {
        position: absolute;
        left: -12vw;
    }

    .two {
        position: absolute;
        left: 2vw;
    }

    section5 {
        height: 107.61vw;
    }

    .plashka5 {
        top: 89.5vw;
        left: 55.25vw;
    }

    .rule5 {
        top: 92.7vw;
        left: 58.79vw;
    }

    .plashka6 {
        left: 8.68vw;
    }

    .rule6 {
        left: 11.22vw;
    }

    .logos {
        left: 20.54px;
    }

    .me {
        left: 71vw;
    }

    /* section6 {
        margin-top: 5vw;
    } */
    /* .card1,
    .card8 {
        display: none;
    }

    .card {
        transform: scale(1.5);
    } */
}